.profile__personal__name {
  color: var(--primary-text-color);
}

.profile__about__title {
  line-height: 1.3;
  padding-left: 15px;
  color: var(--primary-text-color);
}

.profile__about__text {
  line-height: 1.3;
  padding: 15px;
}

.profile__personal {
  display: flex;
  flex-direction: row;
  width: 310px;
  height: 150px;
  justify-content: space-evenly;
  align-items: center;
}

.profile__personal__name {
  margin-left: 10px;
}

.profile__personal__picture {
  padding-left: 0;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  left: 15px;
  top: 15px;
}

.profile__personal__picture img {
  width: 100%;
  height: auto;
}

.profile__personal__name {
  position: relative;
  left: 5px;
  top: 15px;
  text-align: center;
}

.profile__about {
  width: 310px;
  font-size: 14px;
}

.profile__tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 320px;
  flex-wrap: wrap;
}

.profile__tags__item {
  border: 1px solid var(--background-color-cards);
  padding: 3px 25px 1px 25px;
  border-radius: 3px;
  background-color: var(--background-color-cards);
  font-size: 14px;
  margin-top: 15px;
  box-shadow: 3px 3px 10px 3px rgb(165, 165, 165);
}

.profile__log-out__button {
  border-radius: 20px;
  border: none;
  background-color: var(--background-color-header);
  padding: 7px 15px;
  box-shadow: 0 10px 13px -7px #000000;
  transition: 200ms ease-in-out;
  margin: 15px 10px;
}

.profile__log-out__button:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
  color: var(--primary-headline-color);
  box-shadow: none;
}

.toggle-button {
  border-radius: 20px;
  border: none;
  background-color: #05121d;
  color: aliceblue;
  padding: 7px 15px;
  box-shadow: 0 10px 13px -7px #000000;
  transition: 200ms ease-in-out;
  margin: 15px 10px;
}

.toggle-button:hover {
  background-color: var(--background-color-header);
  cursor: pointer;
  color: #05121d;
  box-shadow: none;
}

/* .dark-mode {
  background-color: #05121d;
  color: aliceblue;
}

.dark-mode-header {
  background-color: #0c2d49;
} */

.dark-mode-button {
  box-shadow: 0 10px 13px -7px #8ef7f5;
}

.dark-mode-button:hover {
  box-shadow: none;
}

.dark-mode-name {
  color: aliceblue;
}

.dark-mode-about {
  color: aliceblue;
}
